@font-face {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/Bungee.woff2") format("woff2"), url("./fonts/Bungee.ttf") format("ttf");
}
@font-face {
  font-family: "ConcertOne";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/ConcertOne.woff2") format("woff2"), url("./fonts/ConcertOne.ttf") format("ttf");
}
@font-face {
  font-family: "OmegleRegular";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/OmegleRegular.otf") format("otf"), url("./fonts/OmegleRegular.ttf") format("ttf");
}
@font-face {
  font-family: "OrbitronBold";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/OrbitronBold.woff2") format("woff2"), url("./fonts/OrbitronBold.ttf") format("ttf");
}
@font-face {
  font-family: "UbuntuRegular";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/UbuntuRegular.woff2") format("woff2"), url("./fonts/UbuntuRegular.ttf") format("ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/UbuntuMedium.woff2") format("woff2"), url("./fonts/UbuntuMedium.ttf") format("ttf");
}
@font-face {
  font-family: "UbuntuBold";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url("./fonts/UbuntuBold.woff2") format("woff2"), url("./fonts/UbuntuBold.ttf") format("ttf");
}